.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: mediumvioletred;
    height: 550px;
}
.carlist {
    height: 150px;
    width: 150px;
    background-color: blue;
    border-radius: 100%;
    margin-top: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.motolist {
    height: 150px;
    width: 150px;
    background-color: red;
    border-radius: 100%;
    margin-top: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
img {
    height: 100px;
}
.createmewobject {
    height: 150px;
    width: 150px;
    background-color: green;
    border-radius: 100%;
    margin-top: 60px;
    padding: 10px;
    cursor: pointer;
}
.line1{
    height: 7px;
    background-color: black;
    transform: translateY(70px);
    border-radius: 2px;
}
.line2{
    height: 7px;
    background-color: black;
    transform: rotate(100grad) translate(65px ,-1px);
    border-radius: 2px;
}